In [1]:
import pandas as pd
import numpy as np
import io # Usado para cargar datos de ejemplo desde un string
import matplotlib.pyplot as plt
import seaborn as sns

# Preprocesamiento y Pipelines
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

# Modelos
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier

# Métricas
from sklearn.metrics import classification_report, confusion_matrix, ConfusionMatrixDisplay, accuracy_score, f1_score, roc_auc_score

# Configuraciones
sns.set_style('whitegrid') # Estilo de gráficos
pd.set_option('display.max_columns', None) #mostrar todas las columnas al imprimir dataframes

In [4]:
#Leer archivo CSV
df = pd.read_csv("../Datos/e-shop clothing 2008.csv", sep=";")  # Cargar datos desde un archivo CSV

In [10]:
df

,year,month,day,order,country,session ID,page 1 (main category),page 2 (clothing model),colour,location,model photography,price,price 2,page
0,2008,4,1,1,29,1,1,A13,1,5,1,28,2,1
1,2008,4,1,2,29,1,1,A16,1,6,1,33,2,1
2,2008,4,1,3,29,1,2,B4,10,2,1,52,1,1
3,2008,4,1,4,29,1,2,B17,6,6,2,38,2,1
4,2008,4,1,5,29,1,2,B8,4,3,2,52,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165469,2008,8,13,1,29,24024,2,B10,2,4,1,67,1,1
165470,2008,8,13,1,9,24025,1,A11,3,4,1,62,1,1
165471,2008,8,13,1,34,24026,1,A2,3,1,1,43,2,1
165472,2008,8,13,2,34,24026,3,C2,12,1,1,43,1,1
165473,2008,8,13,3,34,24026,2,B2,3,1,2,57,1,1

In [ ]:
df_filter = df.copy() # Copia del df principal
df_filter['Visited_Sale_Page'] = np.where(df_visit_sales_page['page'] == 4, 1, 0)
df_filter = df_filter[df_filter['page'] != 4]  # Filtrar filas donde 'page' no es igual a 4

In [47]:
df_prueba = df_filter.groupby('session ID').agg({'order':"count"}).reset_index()

In [48]:
df_prueba

       session ID  order
0               1      6
1               2     10
2               3      6
3               4      4
4               5      1
...           ...    ...
23868       24022      3
23869       24023      7
23870       24024      1
23871       24025      1
23872       24026      3

[23873 rows x 2 columns]

In [ ]:
df_filter = df.groupby(['session ID',"Visited_Sale_Page"]).agg({'order':"count"}).reset_index()